[Unit]
Description="CI Slack Bot DEVEL"
After=network.target

[Service]
User=slack_cibot_devel
WorkingDirectory=/home/slack_cibot_devel/slack_github_bot
ExecStart=/home/slack_cibot_devel/slack_github_bot/service/devel/server_devel.sh
Restart=always

[Install]
WantedBy=multi-user.target
